<%= form_tag(students_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Students" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<ol>
  <% @students.each do |student| %>
  <li><%= render partial: 'student', locals: { student: student } %></li>
  <% end %>
</ol>